.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.course{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    overflow: hidden;
    z-index: 1;
    border-radius: 7px;
}

.course:hover{
    text-decoration: none;
}

.course__name{
    position: relative;
    color: #333333;
    max-width: 300px;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 2;
}

.course__type{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px 15px;
    color: #004085;
    background-color: #cce5ff;
    border-radius: 8px;
    z-index: 1;
}

.course::after{
    content: "";
    position: absolute;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

}

.course__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.course__bg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav svg{
    height: 20px;
    margin-bottom: 5px;
}

nav .flex.justify-between.flex-1{
    display: none;
}
